{% extends 'master' %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 style="">My Contact</h1>
				<p><img src="assets/banner.png" /></p>
				<p class="col-md-6 col-md-offset-5">
					<a class="btn btn-large btn-primary" href="/auth/register">Sign Up</a>
					<a class="btn btn-large btn-primary" href="/auth/signin">Login</a>
				</p>
			</div>
			
		</div>
		
	</div>
{% endblock %}